## listas, tuplas y conjuntos

Es un tipo de dato que se crea a partir de otros de una manera secuenciada, por ejemplo, si queremos la lista con los digitos debemos escribir como sigue;

```Python
Lista=[El1,El2,...,Eln]
```

por ejemplo, la lista de digitos seria la siguiente:

In [4]:
Digitos=[0,1,2,3,4,5,6,7,8,9]

In [5]:
type(Digitos)

list

si quiero saber cuantos elementos tiene la lista entonces utilizo `len`

In [7]:
len(Digitos)

10

Recordemos que en los textos podiamos determinar el caracter n-esimo  del tecto de la siguiente forma

In [9]:
texto='hola'

In [10]:
texto[1]

'o'

In [13]:
texto[3]

'a'

en las listas podemos hacer algo similar

In [14]:
Digitos

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
Digitos[5]

5

In [18]:
Lista2=['Uno','Dos','Tres','Cuatro','Cinco','Seis','Siete','Ocho','Nueve','Cero']

In [19]:
Lista2[3]

'Cuatro'

Observe qu el elemento n de la lista es el elemento n+1-esimo pues Python cuenta desde cero.

In [20]:
# El primer elemento
print(Digitos[0])
print(Lista2[0])

0
Uno

In [21]:
# el ultimo elemento
print(Digitos[9])
print(Lista2[9])

9
Cero

En este ultimo ejercicio consultamos el ultimo elemento, en Python lo podemos hacer usando indices negativos (indice: el valor que hace referencia al n+1-esimo elemnto de la lista, el valor de los parentesis cuadrados que permite acceder a los elementos dentr de la lista)

In [23]:
Digitos[-1]

9

In [24]:
Digitos[-2]

8

Los indices negativos permiten que se corra la lista de forma invertida

In [25]:
Digitos[-10]

0

invertir lista

In [26]:
Digitos[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [27]:
Digitos.reverse()

podemos usar un metodo de listas llamado `'.reverse()'`

In [28]:
Digitos

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [29]:
Digitos.reverse()
Digitos

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Podemos contar las veces que aparece un elemento en una lista

In [30]:
Digitos.count(4)  #tab para ver opciones

1

In [31]:
Lista3=[1,2,2,3,3,3,4,4,4,4]

In [32]:
Lista3[5]

3

In [33]:
Lista3.append(5)

In [34]:
Lista3

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5]

al final agrega el nuevo digito con `append` si quiero agregarlo al inicio utilizo `insert`

In [36]:
Lista3.insert(3,10)

In [37]:
Lista2

['Uno',
 'Dos',
 'Tres',
 'Cuatro',
 'Cinco',
 'Seis',
 'Siete',
 'Ocho',
 'Nueve',
 'Cero']

In [47]:
Lista2.insert(5,'hola')

In [48]:
Lista2

['Uno',
 'Dos',
 'Tres',
 'Cuatro',
 'Cinco',
 'hola',
 'Seis',
 'Siete',
 'Ocho',
 'Nueve',
 'Cero']

In [49]:
Lista2.remove('hola')
Lista2

['Uno',
 'Dos',
 'Tres',
 'Cuatro',
 'Cinco',
 'Seis',
 'Siete',
 'Ocho',
 'Nueve',
 'Cero']

In [ ]:
esta funcion solo quita el primer elemento

In [43]:
Lista3.remove(4)

In [45]:
Lista3

[1, 2, 2, 10, 3, 3, 3, 4, 4, 4, 5]

PARA ELIMINAR TODOS SE USA CLEAR

El metodo `pop` remueve atraves del indice

In [51]:
Lista2+Lista3

['Uno',
 'Dos',
 'Tres',
 'Cuatro',
 'Cinco',
 'Seis',
 'Siete',
 'Ocho',
 'Nueve',
 'Cero',
 1,
 2,
 2,
 10,
 3,
 3,
 3,
 4,
 4,
 4,
 5]

con el operador + se concatenan listas, tambien se puede usar el metodo `extend`

In [54]:
Lista2.extend(Lista3)
Lista2

['Uno',
 'Dos',
 'Tres',
 'Cuatro',
 'Cinco',
 'Seis',
 'Siete',
 'Ocho',
 'Nueve',
 'Cero',
 1,
 2,
 2,
 10,
 3,
 3,
 3,
 4,
 4,
 4,
 5]

# Condicional
es una estructura de control que permite ejecutar una subcortina segun se satisfaga una condicion inicial:

'Si__________ condicion____ entonces_________resultado__'

In [56]:
if 4>5:
    print('Cuatro es mayor que cinco')

In [77]:
if 4<5:
    print('Cuatro es menor que cinco')

Cuatro es menor que cinco

Un iterable especial:
    No todas las secuencias (iterables) se definen como listas tambien se puede utilizar funciones previas que generan listas secuenciadas de manera automatica

# Bucle
Un bucle es una estructura especial que permite recorrer los elementos de un iterable, en particular podemos recorrer los elementos de una lista:
```Python
for i in Lista:
    ejercicio_i
    resp
fin

In [78]:
Lista2[:8]

['Uno', 'Dos', 'Tres', 'Cuatro', 'Cinco', 'Seis', 'Siete', 'Ocho']

In [81]:
for i in Lista2:
    print(i.replace('o','a'))
    print('----')

Una
----
Das
----
Tres
----
Cuatra
----
Cinca
----
Seis
----
Siete
----
Ocha
----
Nueve
----
Cera
----

AttributeError: 'int' object has no attribute 'replace'

In [59]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

`range (m,n,p)` es un objeto especial de python lo convertiremos en lista con list para entender que contiene

In [60]:
range(10) #range(0,n) genera una lista de enteros ordenada iniciando en 0 terminando en n-1

range(0, 10)

In [61]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
list(range(2,10)) #range(m,n) genera una lista de enteros ordenada iniciando en m terminando en n-1 y en saltos de a p

[2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
list(range(2,10,2))

[2, 4, 6, 8]

In [67]:
list(range(2,10,5))

[2, 7]

In [68]:
lista_100=range(1,101)

In [69]:
lista_100

range(1, 101)

Usando `for` podemos hacer cosas interesantes

In [85]:
for i in range(1,101):
    if i%6==0:
        print(i)                 ##el espacio es la identacion, python tenemos una linea lider y una esclava, una depende de la otra

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [88]:
for i in range(1,21):
    print('El numero que vamos a estudiar es',i)

    
    print(i,'es un numero que al dividirse por 3 tiene residuo',i%3)
    if i%6==0:
        print('Este numero es especial porque es un multiplo de 3')
        print('***********************************************************')
        print()
        print()

El numero que vamos a estudiar es 1
1 es un numero que al dividirse por 3 tiene residuo 1
El numero que vamos a estudiar es 2
2 es un numero que al dividirse por 3 tiene residuo 2
El numero que vamos a estudiar es 3
3 es un numero que al dividirse por 3 tiene residuo 0
El numero que vamos a estudiar es 4
4 es un numero que al dividirse por 3 tiene residuo 1
El numero que vamos a estudiar es 5
5 es un numero que al dividirse por 3 tiene residuo 2
El numero que vamos a estudiar es 6
6 es un numero que al dividirse por 3 tiene residuo 0
Este numero es especial porque es un multiplo de 3
***********************************************************


El numero que vamos a estudiar es 7
7 es un numero que al dividirse por 3 tiene residuo 1
El numero que vamos a estudiar es 8
8 es un numero que al dividirse por 3 tiene residuo 2
El numero que vamos a estudiar es 9
9 es un numero que al dividirse por 3 tiene residuo 0
El numero que vamos a estudiar es 10
10 es un numero que al dividirse por 3 tiene residuo 1
El numero que vamos a estudiar es 11
11 es un numero que al dividirse por 3 tiene residuo 2
El numero que vamos a estudiar es 12
12 es un numero que al dividirse por 3 tiene residuo 0
Este numero es especial porque es un multiplo de 3
***********************************************************


El numero que vamos a estudiar es 13
13 es un numero que al dividirse por 3 tiene residuo 1
El numero que vamos a estudiar es 14
14 es un numero que al dividirse por 3 tiene residuo 2
El numero que vamos a estudiar es 15
15 es un numero que al dividirse por 3 tiene residuo 0
El numero que vamos a estudiar es 16
16 es un numero que al dividirse por 3 tiene residuo 1
El numero que vamos a estudiar es 17
17 es un numero que al dividirse por 3 tiene residuo 2
El numero que vamos a estudiar es 18
18 es un numero que al dividirse por 3 tiene residuo 0
Este numero es especial porque es un multiplo de 3
***********************************************************


El numero que vamos a estudiar es 19
19 es un numero que al dividirse por 3 tiene residuo 1
El numero que vamos a estudiar es 20
20 es un numero que al dividirse por 3 tiene residuo 2