# Clase 5

**Primeros scripts**

vamos a definir en una celda 3 variables, una que contenga mi nombre, otra que contenga mi edad y otra que muestre el porcentaje de la semana que utilizo para mi curso de programacion.

## Metodo `format` para cadenas/strings

In [7]:
Nombre= 'Nicole Santana'
Edad= 18
Por_prog=(4+2)/(24*5)

In [8]:
texto1='Mi nombre es {}, tengo {} años y soy externadista'.format(Nombre,Edad)
texto1

'Mi nombre es Nicole Santana, tengo 18 años y soy externadista'

In [10]:
texto1='Mi nombre es {nombre}, tengo {edad} años y soy externadista'.format(nombre=Nombre,edad=Edad)
texto1

'Mi nombre es Nicole Santana, tengo 18 años y soy externadista'

In [14]:
texto2='Mi nombre es {nombre}, tengo {edad} años y soy externadista y dedico el {porcentaje:.2%} de mi semana a programacion'.format(
    nombre=Nombre,
    edad=Edad, porcentaje=Por_prog)
texto2

'Mi nombre es Nicole Santana, tengo 18 años y soy externadista y dedico el 5.00% de mi semana a programacion'

In [17]:
texto3='Nombre={nombre:>30}\nEdad:{edad:>30}'.format(nombre=Nombre, edad=Edad)
print(texto3)

Nombre=                Nicole Santana
Edad:                            18

In [18]:
texto3='Nombre={nombre:<30}\nEdad:{edad:<30}'.format(nombre=Nombre, edad=Edad)
print(texto3)

Nombre=Nicole Santana
Edad:18

In [21]:
texto3='{nombre:<30}:Nombre\n{edad:<30}:Edad'.format(nombre=Nombre, edad=Edad)
print(texto3)

Nicole Santana                :Nombre
18                            :Edad

In [28]:
texto4='{nombre:^30}\n{edad:^30}'.format(nombre=Nombre, edad=Edad)
print(texto4)

        Nicole Santana
              18

In [34]:
Texto5='El boleto para Bad Bunny valio ${boleto:,}'.format(boleto=22000000)
print(Texto5)

El boleto para Bad Bunny valio $22,000,000

In [38]:
Texto6='En binario tengo {edad:b}'.format(edad=Edad)
print(Texto6)

En binario tengo 10010

## Mas metodos de cadenas de caracteres

veamos una lista de metodos e intentemos definir que hace cada una:

In [39]:
Texto1='hola'.capitalize()
print(Texto1)

Hola

In [40]:
Texto2='En el monte de la china un chinito Se PERdio'.casefold()
print(Texto2)

en el monte de la china un chinito se perdio

In [41]:
Texto3='En el monte de la china un chinito Se PERdio'.upper()
print(Texto3)

EN EL MONTE DE LA CHINA UN CHINITO SE PERDIO

In [42]:
Texto4='En el monte de la china un chinito Se PERdio'.lower()
print(Texto4)

en el monte de la china un chinito se perdio

In [43]:
Texto5='En el monte de la china un chinito se perdio'.replace('a','x-x')
print(Texto5)

En el monte de lx-x chinx-x un chinito se perdio

In [46]:
Texto6='En el mONte de lA chiNA un chINito se perdio'.swapcase()
print(Texto6)

eN EL MonTE DE La CHIna UN CHinITO SE PERDIO

In [48]:
Texto7='En el monte de la china un chinito se perdio'.center(100)
print(Texto7)

                            En el monte de la china un chinito se perdio

Otros metodos

In [51]:
x1='Las bananas son ricas en potasio'.count('an')
print(x1)

2

In [52]:
x1='''hola
muchachos
de
programacion'''.count('a')
print(x1)

4

In [55]:
x2='En el Externado soy muy feliz'.find('Externado')
print(x2) #posicion comienza palabra

6

En python los textos son arreglos o mas bien secuencias ordenadas de caracteres. Cada texto tiene un orden segun la aparicion de cada caracter.

In [59]:
texto_normal[0]

0

In [61]:
texto_normal='0123456789'

In [62]:
texto_normal[4]

'4'

In [63]:
texto_normal[0:4] #los valores separados por dos puntos indican el rango

'0123'

In [64]:
texto='Colombia vera Qatar 2022 desde la sala de la casa'

In [65]:
texto[5:20]

'bia vera Qatar '

## Funcion `input`

In [66]:
txt=input('Escriba un texto aqui: ')
print(txt)
print(type(txt))

Escriba un texto aqui:  4

4
<class 'str'>

Claramente `input` permite que el usuario pueda ingresar texto, ese texto siempre se guardara como cadena de caracteres y si se quiere cambiar debe utilizarse una funcion adecuada

In [73]:
txt=input('Ingrese su nombre: ')
age=input('ingrese su edad: ')
age=int(age)
print('En el 2023 {nombre}, tendra {edad} años'.format(nombre=txt,edad=age+1))

Ingrese su nombre:  Nicole
ingrese su edad:  18

En el 2023 Nicole, tendra 19 años